# Toronto Cleaning

In this Notebook I have scraped the Toronto data from Wikipedia and then cleaned the data.

In [16]:
import pandas as pd
from bs4 import BeautifulSoup
import requests
import numpy as np
import geocoder
import os

### Using Beautiful Soup to scrape the table and Pandas to convert to dataframe

In [2]:
url = 'https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'

In [3]:
data = requests.get(url).text
soup = BeautifulSoup(data, "html5lib")

In [4]:
tables = soup.find_all('table')

In [5]:
toronto = pd.read_html(str(tables[0]), flavor = 'bs4')[0]
toronto.head()

  Postal Code           Borough              Neighbourhood
0         M1A      Not assigned               Not assigned
1         M2A      Not assigned               Not assigned
2         M3A        North York                  Parkwoods
3         M4A        North York           Victoria Village
4         M5A  Downtown Toronto  Regent Park, Harbourfront

In [6]:
toronto.shape

(180, 3)

### Cleaning the Data

In [7]:
# Removing all rows where there is no borough assigned
toronto.drop(toronto.loc[toronto['Borough']=='Not assigned'].index, inplace=True)

In [8]:
# Replacing all neighbourhoods with the borough if there is no neighbourhood assigned
toronto['Neighbourhood'] = np.where(toronto['Neighbourhood'] == 'Not assigned', toronto['Borough'], toronto['Neighbourhood'])

In [9]:
toronto.reset_index(inplace=True)

In [10]:
toronto.drop('index', axis=1, inplace=True)

In [11]:
# Print the shape of the dataframe and presenting the first 5 rows
print("The Dataframe consists of {} columns and {} rows.".format(toronto.shape[1], toronto.shape[0]))
toronto.head()

The Dataframe consists of 3 columns and 103 rows.

  Postal Code           Borough                                Neighbourhood
0         M3A        North York                                    Parkwoods
1         M4A        North York                             Victoria Village
2         M5A  Downtown Toronto                    Regent Park, Harbourfront
3         M6A        North York             Lawrence Manor, Lawrence Heights
4         M7A  Downtown Toronto  Queen's Park, Ontario Provincial Government

### Adding coordinates to dataframe

In [17]:
os.chdir("/Users/Jonathan Challenger/OneDrive")

In [19]:
coords = pd.read_csv("Geospatial_coordinates.csv")
coords.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

In [22]:
toronto_merged = toronto.join(coords.set_index('Postal Code'), on='Postal Code')
toronto_merged.head()

,Postal Code,Borough,Neighbourhood,Latitude,Longitude
0,M3A,North York,Parkwoods,43.753259,-79.329656
1,M4A,North York,Victoria Village,43.725882,-79.315572
2,M5A,Downtown Toronto,"Regent Park, Harbourfront",43.654260,-79.360636
3,M6A,North York,"Lawrence Manor, Lawrence Heights",43.718518,-79.464763
4,M7A,Downtown Toronto,"Queen's Park, Ontario Provincial Government",43.662301,-79.389494